<div class="row">
<div class="col-2">
    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link"   href="/home/search" >search</a>
        <a class="nav-link"   href="/home/upload"   >upload</a>
        <a class="nav-link"   href="/home/account"   >account</a>
        <a class="nav-link"   href="home/authors">authors</a>
    </div>
</div>
 <div class="col-10">
  <div class="container">
       <ul style="text-align:center;"><b>Group Members:</b>
    	<li>Yiming Xu 10438422 <i style="color:blue;">yxu77@stevens.edu</i>
        	<br>Part: frontend/Backend login and register, relevant Database construction
        </li>
        <li>Krutarth Trivedi 10441789 <i style="color:blue;">ktrived5@stevens.edu</i> 
        	<br>Part: Base project structure, about page, css
        </li>
        <li>Xiao Zhao 10442648 <i style="color:blue;">xzhao35@stevens.edu</i> 
        	<br>Part: page for adjust account info
        </li>
        <li>Smit Taware 10442267<i style="color:blue;">staware@stevens.edu</i> 
        	<br>Part: page for upload resume
        </li>
       
</ul>

    </div>
</div>
</div>