<div class="col-2">
    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link"   href="/home/search" >search</a>
        <a class="nav-link"   href="/home/upload"   >upload</a>
    </div>
</div>
 