<div class="col-2">
    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link"   href="/home/search" >search</a>
        <a class="nav-link"   href="/home/upload"   >upload</a>
        <a class="nav-link"   href="/home/account"   >account</a>
        <a class="nav-link"   href="home/authors">authors</a>
    </div>
</div>
<div class="col-13">
    <div class="container">
       
        <h1>Info about this application</h1>
	<p>This application allows users to manage their different versions of resumes for different positions and companies. 
    <br>To run this application, download the project file and run it under the installed file directory with the command: <br />
    <i>$npm install</i><br>
    <i>$npm run seed</i><br>
	<i>$npm start</i><br>
	 After the server is connected, go to this address: <u style="color:blue;">localhost:3000</u> to try out the application.
	</p>
    </div>
    
</div>
