<div class="row">
<div class="col-2">
    <div class="nav flex-column nav-pills"  aria-orientation="vertical">
        <a class="nav-link"   href="/home/search" >search</a>
        <a class="nav-link"   href="/home/upload"   >upload</a>
        <a class="nav-link"   href="/home/account"   >account</a>
    </div>
</div>
 <div class="col-10">
  <div class="container">
    <form class="form-group" action="/home/upload" method="post" enctype="multipart/form-data">

      <div class="form-group">
       <label for="companyName">companyName</label>
       <input class="form-control" type="text" name="companyName" id="companyName" value="" required>
      </div>

      <div class="form-group">
       <label for="position">position</label>
       <input class="form-control" type="text" name="position" id="position" value="" required>
      </div>

      <div class="form-group">
       <label for="jobDescription">job descreption</label>
       <input class="form-control" type="text" name="jobDescription" id="jobDescription" value="" required>
      </div>
       <div class="form-group">
            <label for="jobStatus">job status</label>
            <select class="form-control" id="jobStatus" name="jobStatus" required>
                <option value="noRes" selected>no response</option>
                <option value="interviewInv">interview invitation</option>
            </select>
        </div>        
      <div class="form-group">
       <label for="comments">comments</label>
       <textarea class="form-control" name="comments" id="comments" value="" ></textarea>
      </div>
      <input type="file" name="resume" />

      <button type="submit"  class="btn btn-lg btn-primary btn-block">Submit</button>
    </form>
    </div>
</div>
</div>